<h1>welcome {{un}} make your login</h1>
<h2>{{error}}</h2>
<form action="/pubartmonitor/signin" method="post">
{% csrf_token %}
	<label for="">Username</label>
	<input type="text" id="username" name="username" Required><p>

	<label for="">Password</label>
	<input type="password" id="password" name="password" Required><p>

	<button type="submit">Sign In</button>
</form>

<br>
<br>
<h3>Maybe you need to sign up first ?</h3>
<button type="submit"><a href="/pubartmonitor/signup">SignUp</button></p>

<script src="" async defer></script>
